@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*
font-family: 'Source Sans Pro', sans-serif;
200;300;400;600;700

font-family: 'Roboto', sans-serif;
400;500
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: none;
}

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #fde7ea, #ffd7a8);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    padding-top: 1.5vh;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
}

.circle {
    border: solid 2vh #ff7961;
    height: 5vh;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 10px 15px;
    width: 5vh;
}

.circle:hover {
    height: 0;
    width: 0;
    border-color: transparent;
    transition: 0.2s;
    transition-timing-function: ease-in;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

.btn1 {
    text-decoration: none;
    color: #000;
    border: solid 0px;
    padding: 7px 25px;
    background-color: transparent;
    transition: 0.4s;
    transition-timing-function: ease-in;
    cursor: none;
}

.btna {
    border: solid 0px;
    border-radius: 10vh;
    background-color: #ff7961;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    transition: 50ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}