@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*
font-family: 'Source Sans Pro', sans-serif;
200;300;400;600;700

font-family: 'Roboto', sans-serif;
400;500
*/

/*
var(--col1)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: none;
}

:root{
    --col1: #fde7ea;
    --col2: #ffd7a8;
    --col3: #ff7961;
    --col4: #f44336;
    
}

.dark{
    --col1: #f9e7fe;
    --col2: #dafcfc;
    --col3: #3e91ff;
    --col4: #68b3ff;
}

.header {
    width: 100%;
    max-height: 100vh;
    background-image: linear-gradient(45deg, var(--col1), var(--col2));
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    padding-top: 1.5vh;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
}

.circle {
    border: solid 2vh var(--col3);
    height: 5vh;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 10px 15px;
    width: 5vh;
}

.circle:hover {
    height: 0;
    width: 0;
    border-color: transparent;
    transition: 0.2s;
    transition-timing-function: ease-in;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

.btn1 {
    text-decoration: none;
    color: #000;
    border: solid 0px;
    padding: 7px 25px;
    background-color: transparent;
    transition: 0.4s;
    transition-timing-function: ease-in;
    cursor: none;
}

.btna {
    border: solid 0px;
    border-radius: 10vh;
    background-color: var(--col3);
}

span.size-32 {
    font-size: 32px;
    font-variation-settings: 'OPSZ' 32;
}

.btn1:hover {
    border: solid 0px;
    border-radius: 10vh;
    background-color: var(--col3);
    cursor: none;
}

.scetion1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 15vh;
    margin-left: 15vw;
}

.scetion1 h1 {
    font-size: 10vh;
    font-weight: 500;
    color: var(--col4);
    font-family: 'Roboto', sans-serif;
}

.scetion1 h2 {
    font-size: 6vh;
    font-weight: 600;
}

.scetion1 h3 {
    font-size: 4vh;

}

.scetion1 span {
    color: var(--col4);
    font-size: 7.5vh;
    transition: 1s;
}

.scetion1 span:hover {
    font-size: 7.75vh;
    transition: 1s;
    z-index: 100;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    transition: 50ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

nav:hover~.cursor {
    transform: scale(0.4);
    mix-blend-mode: normal;
    background: var(--col3);

}

.section2 {
    margin-left: 15vw;
    margin-top: 5vh;
}

.section2 button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    font-weight: 700;
}

.btn2 {
    text-decoration: none;
    color: #000;
    border: solid 4px var(--col3);
    border-radius: 50vh;
    padding: 7px 25px;
    background-color: transparent;
    transition: 0.4s;
    transition-timing-function: ease-in;
    cursor: none;
}

.btn2:hover {
    background-color: var(--col3);
}

.img{
float: right;
margin-top: 13vh;
margin-right: 1.5vw;
transition: 1s;
z-index: -100;
}

.img:hover{
    float: right;
margin-top: 17vh;
margin-right: 3vw;
transition: 1s;
}

.scetion1 span{
    color: var(--col4);
    font-size: 6vh;
    font-weight: 600;
}

.foot{
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    padding-top: 2vh;
    margin-top: 15vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    
}


.foot ul li{
    list-style: none;
    display: inline-block;
}

.foot button{
    text-decoration: none;
    color: #000;
    border: none;/*solid 4px var(--col3);*/
    font-size: 3vh;
    border-radius: 50vh;
    padding: 7px 25px;
    background-color: transparent;
    transition: 0.4s;
    transition-timing-function: ease-in;
    cursor: none;
}

.foot button:hover{
        background-color: var(--col3);
        transition: 0.4s;
}